# IDE Files
.vscode/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj Awake uses .obj for game object files.

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
awake

# OSX files
.DS_Store

# Demo MUD files
gdb.txt
syslog.txt
log/

# Files you really don't want to share
src/mysql_config.cpp
SQL/mysql_config.cpp
mysql_config.cpp
src/github_config.cpp

# Game / runtime files. Note that lib/ scratch directories are excluded by their own .gitignores.
lib/copyover.dat
lib/etc/consist
lib/text/wholist
lib/order
syslog

wip-files
wip-files/**

# Development reference materials
references/

# Secrets that only the game server should know about
src/secrets*
lib/housing/10004/E/lease.json
lib/housing/10004/N/lease.json
lib/housing/10004/NE/lease.json
lib/housing/10004/NW/lease.json
lib/housing/10004/SE/lease.json
lib/housing/10004/SW/lease.json
lib/housing/10004/W/lease.json
lib/housing/10110/1A/lease.json
lib/housing/10110/1B/lease.json
lib/housing/10110/2A/lease.json
lib/housing/10110/2B/lease.json
lib/housing/10110/3A/lease.json
lib/housing/10110/3B/lease.json
lib/housing/10110/4A/lease.json
lib/housing/10110/4B/lease.json
lib/housing/10110/5A/lease.json
lib/housing/10110/5B/lease.json
lib/housing/10110/6A/lease.json
lib/housing/10110/6B/lease.json
lib/housing/12400/10A/lease.json
lib/housing/12400/11A/lease.json
lib/housing/12400/12A/lease.json
lib/housing/12400/13A/lease.json
lib/housing/12400/14A/lease.json
lib/housing/12400/15A/lease.json
lib/housing/12400/16A/lease.json
lib/housing/12400/17A/lease.json
lib/housing/12400/18A/lease.json
lib/housing/12400/19A/lease.json
lib/housing/12400/1A/lease.json
lib/housing/12400/20A/lease.json
lib/housing/12400/2A/lease.json
lib/housing/12400/3A/lease.json
lib/housing/12400/4A/lease.json
lib/housing/12400/5A/lease.json
lib/housing/12400/6A/lease.json
lib/housing/12400/7A/lease.json
lib/housing/12400/8A/lease.json
lib/housing/12400/9A/lease.json
lib/housing/12401/B1/lease.json
lib/housing/12401/B10/lease.json
lib/housing/12401/B11/lease.json
lib/housing/12401/B12/lease.json
lib/housing/12401/B13/lease.json
lib/housing/12401/B14/lease.json
lib/housing/12401/B15/lease.json
lib/housing/12401/B16/lease.json
lib/housing/12401/B17/lease.json
lib/housing/12401/B18/lease.json
lib/housing/12401/B19/lease.json
lib/housing/12401/B2/lease.json
lib/housing/12401/B20/lease.json
lib/housing/12401/B3/lease.json
lib/housing/12401/B4/lease.json
lib/housing/12401/B5/lease.json
lib/housing/12401/B6/lease.json
lib/housing/12401/B7/lease.json
lib/housing/12401/B8/lease.json
lib/housing/12401/B9/lease.json
lib/housing/18911/100/lease.json
lib/housing/18911/101/lease.json
lib/housing/18911/102/lease.json
lib/housing/18911/103/lease.json
lib/housing/18911/104/lease.json
lib/housing/18911/105/lease.json
lib/housing/18911/106/lease.json
lib/housing/18911/107/lease.json
lib/housing/18911/108/lease.json
lib/housing/18911/109/lease.json
lib/housing/2201/10B/lease.json
lib/housing/2201/10C/lease.json
lib/housing/2201/11A/lease.json
lib/housing/2201/11B/lease.json
lib/housing/2201/11C/lease.json
lib/housing/2201/12A/lease.json
lib/housing/2201/12B/lease.json
lib/housing/2201/12C/lease.json
lib/housing/2201/13A/lease.json
lib/housing/2201/13B/lease.json
lib/housing/2201/13C/lease.json
lib/housing/2201/14A/lease.json
lib/housing/2201/14B/lease.json
lib/housing/2201/14C/lease.json
lib/housing/2201/1A/lease.json
lib/housing/2201/1B/lease.json
lib/housing/2201/1C/lease.json
lib/housing/2201/1D/lease.json
lib/housing/2201/2A/lease.json
lib/housing/2201/2B/lease.json
lib/housing/2201/2C/lease.json
lib/housing/2201/2D/lease.json
lib/housing/2201/3A/lease.json
lib/housing/2201/3B/lease.json
lib/housing/2201/3C/lease.json
lib/housing/2201/3D/lease.json
lib/housing/2201/4A/lease.json
lib/housing/2201/4B/lease.json
lib/housing/2201/4C/lease.json
lib/housing/2201/4D/lease.json
lib/housing/2201/5A/lease.json
lib/housing/2201/5B/lease.json
lib/housing/2201/5C/lease.json
lib/housing/2201/5D/lease.json
lib/housing/2201/6A/lease.json
lib/housing/2201/6B/lease.json
lib/housing/2201/6C/lease.json
lib/housing/2201/6D/lease.json
lib/housing/2201/7A/lease.json
lib/housing/2201/7B/lease.json
lib/housing/2201/7C/lease.json
lib/housing/2201/8A/lease.json
lib/housing/2201/8B/lease.json
lib/housing/2201/8C/lease.json
lib/housing/2201/9A/lease.json
lib/housing/2201/9B/lease.json
lib/housing/2201/9C/lease.json
lib/housing/22608/1A/lease.json
lib/housing/22608/1B/lease.json
lib/housing/22608/2A/lease.json
lib/housing/22608/3B/lease.json
lib/housing/22608/4A/lease.json
lib/housing/22608/4B/lease.json
lib/housing/22608/5A/lease.json
lib/housing/22608/6A/lease.json
lib/housing/22608/6B/lease.json
lib/housing/26400/A/lease.json
lib/housing/26400/B/lease.json
lib/housing/26400/C/lease.json
lib/housing/26400/D/lease.json
lib/housing/26400/E/lease.json
lib/housing/26400/F/lease.json
lib/housing/26400/G/lease.json
lib/housing/26400/H/lease.json
lib/housing/26400/I/lease.json
lib/housing/26400/J/lease.json
lib/housing/26400/K/lease.json
lib/housing/26400/L/lease.json
lib/housing/26400/M/lease.json
lib/housing/26400/N/lease.json
lib/housing/26400/O/lease.json
lib/housing/26400/P/lease.json
lib/housing/26400/Q/lease.json
lib/housing/26400/R/lease.json
lib/housing/26400/S/lease.json
lib/housing/26400/T/lease.json
lib/housing/26400/U/lease.json
lib/housing/26400/V/lease.json
lib/housing/26400/W/lease.json
lib/housing/26400/X/lease.json
lib/housing/26400/Y/lease.json
lib/housing/26400/Z/lease.json
lib/housing/2952/1/lease.json
lib/housing/2952/2/lease.json
lib/housing/2952/3/lease.json
lib/housing/2952/4/lease.json
lib/housing/2952/5/lease.json
lib/housing/2952/6/lease.json
lib/housing/2952/7/lease.json
lib/housing/2952/8/lease.json
lib/housing/30701/1A/lease.json
lib/housing/30701/1B/lease.json
lib/housing/30701/1C/lease.json
lib/housing/30701/1D/lease.json
lib/housing/30701/2A/lease.json
lib/housing/30701/2B/lease.json
lib/housing/30701/2C/lease.json
lib/housing/30701/2D/lease.json
lib/housing/30701/3A/lease.json
lib/housing/30701/3B/lease.json
lib/housing/30701/3C/lease.json
lib/housing/30701/3D/lease.json
lib/housing/30701/4A/lease.json
lib/housing/30701/4B/lease.json
lib/housing/30701/4C/lease.json
lib/housing/30701/4D/lease.json
lib/housing/30701/5A/lease.json
lib/housing/30701/5B/lease.json
lib/housing/30701/5C/lease.json
lib/housing/30701/5D/lease.json
lib/housing/6401/1A/lease.json
lib/housing/6401/1B/lease.json
lib/housing/6401/1C/lease.json
lib/housing/6401/1D/lease.json
lib/housing/6401/1E/lease.json
lib/housing/6401/1F/lease.json
lib/housing/6401/1G/lease.json
lib/housing/6401/1H/lease.json
lib/housing/6401/1I/lease.json
lib/housing/6401/1J/lease.json
lib/housing/6401/1K/lease.json
lib/housing/6401/1L/lease.json
lib/housing/6401/1M/lease.json
lib/housing/6401/1N/lease.json
lib/housing/6401/1O/lease.json
lib/housing/10004/E/lease.json
lib/housing/10004/N/lease.json
lib/housing/10004/NE/lease.json
lib/housing/10004/NW/lease.json
lib/housing/10004/SE/lease.json
lib/housing/10004/SW/lease.json
lib/housing/10004/W/lease.json
lib/housing/10110/1A/lease.json
lib/housing/10110/1B/lease.json
lib/housing/10110/2A/lease.json
lib/housing/10110/2B/lease.json
lib/housing/10110/3A/lease.json
lib/housing/10110/3B/lease.json
lib/housing/10110/4A/lease.json
lib/housing/10110/4B/lease.json
lib/housing/10110/5A/lease.json
lib/housing/10110/5B/lease.json
lib/housing/10110/6A/lease.json
lib/housing/10110/6B/lease.json
lib/housing/12400/10A/lease.json
lib/housing/12400/11A/lease.json
lib/housing/12400/12A/lease.json
lib/housing/12400/13A/lease.json
lib/housing/12400/14A/lease.json
lib/housing/12400/15A/lease.json
lib/housing/12400/16A/lease.json
lib/housing/12400/17A/lease.json
lib/housing/12400/18A/lease.json
lib/housing/12400/19A/lease.json
lib/housing/12400/1A/lease.json
lib/housing/12400/20A/lease.json
lib/housing/12400/2A/lease.json
lib/housing/12400/3A/lease.json
lib/housing/12400/4A/lease.json
lib/housing/12400/5A/lease.json
lib/housing/12400/6A/lease.json
lib/housing/12400/7A/lease.json
lib/housing/12400/8A/lease.json
lib/housing/12400/9A/lease.json
lib/housing/12401/B1/lease.json
lib/housing/12401/B10/lease.json
lib/housing/12401/B11/lease.json
lib/housing/12401/B12/lease.json
lib/housing/12401/B13/lease.json
lib/housing/12401/B14/lease.json
lib/housing/12401/B15/lease.json
lib/housing/12401/B16/lease.json
lib/housing/12401/B17/lease.json
lib/housing/12401/B18/lease.json
lib/housing/12401/B19/lease.json
lib/housing/12401/B2/lease.json
lib/housing/12401/B20/lease.json
lib/housing/12401/B3/lease.json
lib/housing/12401/B4/lease.json
lib/housing/12401/B5/lease.json
lib/housing/12401/B6/lease.json
lib/housing/12401/B7/lease.json
lib/housing/12401/B8/lease.json
lib/housing/12401/B9/lease.json
lib/housing/18911/100/lease.json
lib/housing/18911/101/lease.json
lib/housing/18911/102/lease.json
lib/housing/18911/103/lease.json
lib/housing/18911/104/lease.json
lib/housing/18911/105/lease.json
lib/housing/18911/106/lease.json
lib/housing/18911/107/lease.json
lib/housing/18911/108/lease.json
lib/housing/18911/109/lease.json
lib/housing/2201/10B/lease.json
lib/housing/2201/10C/lease.json
lib/housing/2201/11A/lease.json
lib/housing/2201/11B/lease.json
lib/housing/2201/11C/lease.json
lib/housing/2201/12A/lease.json
lib/housing/2201/12B/lease.json
lib/housing/2201/12C/lease.json
lib/housing/2201/13A/lease.json
lib/housing/2201/13B/lease.json
lib/housing/2201/13C/lease.json
lib/housing/2201/14A/lease.json
lib/housing/2201/14B/lease.json
lib/housing/2201/14C/lease.json
lib/housing/2201/1A/lease.json
lib/housing/2201/1B/lease.json
lib/housing/2201/1C/lease.json
lib/housing/2201/1D/lease.json
lib/housing/2201/2A/lease.json
lib/housing/2201/2B/lease.json
lib/housing/2201/2C/lease.json
lib/housing/2201/2D/lease.json
lib/housing/2201/3A/lease.json
lib/housing/2201/3B/lease.json
lib/housing/2201/3C/lease.json
lib/housing/2201/3D/lease.json
lib/housing/2201/4A/lease.json
lib/housing/2201/4B/lease.json
lib/housing/2201/4C/lease.json
lib/housing/2201/4D/lease.json
lib/housing/2201/5A/lease.json
lib/housing/2201/5B/lease.json
lib/housing/2201/5C/lease.json
lib/housing/2201/5D/lease.json
lib/housing/2201/6A/lease.json
lib/housing/2201/6B/lease.json
lib/housing/2201/6C/lease.json
lib/housing/2201/6D/lease.json
lib/housing/2201/7A/lease.json
lib/housing/2201/7B/lease.json
lib/housing/2201/7C/lease.json
lib/housing/2201/8A/lease.json
lib/housing/2201/8B/lease.json
lib/housing/2201/8C/lease.json
lib/housing/2201/9A/lease.json
lib/housing/2201/9B/lease.json
lib/housing/2201/9C/lease.json
lib/housing/22608/1A/lease.json
lib/housing/22608/1B/lease.json
lib/housing/22608/2A/lease.json
lib/housing/22608/3B/lease.json
lib/housing/22608/4A/lease.json
lib/housing/22608/4B/lease.json
lib/housing/22608/5A/lease.json
lib/housing/22608/6A/lease.json
lib/housing/22608/6B/lease.json
lib/housing/26400/A/lease.json
lib/housing/26400/B/lease.json
lib/housing/26400/C/lease.json
lib/housing/26400/D/lease.json
lib/housing/26400/E/lease.json
lib/housing/26400/F/lease.json
lib/housing/26400/G/lease.json
lib/housing/26400/H/lease.json
lib/housing/26400/I/lease.json
lib/housing/26400/J/lease.json
lib/housing/26400/K/lease.json
lib/housing/26400/L/lease.json
lib/housing/26400/M/lease.json
lib/housing/26400/N/lease.json
lib/housing/26400/O/lease.json
lib/housing/26400/P/lease.json
lib/housing/26400/Q/lease.json
lib/housing/26400/R/lease.json
lib/housing/26400/S/lease.json
lib/housing/26400/T/lease.json
lib/housing/26400/U/lease.json
lib/housing/26400/V/lease.json
lib/housing/26400/W/lease.json
lib/housing/26400/X/lease.json
lib/housing/26400/Y/lease.json
lib/housing/26400/Z/lease.json
lib/housing/2952/1/lease.json
lib/housing/2952/2/lease.json
lib/housing/2952/3/lease.json
lib/housing/2952/4/lease.json
lib/housing/2952/5/lease.json
lib/housing/2952/6/lease.json
lib/housing/2952/7/lease.json
lib/housing/2952/8/lease.json
lib/housing/30701/1A/lease.json
lib/housing/30701/1B/lease.json
lib/housing/30701/1C/lease.json
lib/housing/30701/1D/lease.json
lib/housing/30701/2A/lease.json
lib/housing/30701/2B/lease.json
lib/housing/30701/2C/lease.json
lib/housing/30701/2D/lease.json
lib/housing/30701/3A/lease.json
lib/housing/30701/3B/lease.json
lib/housing/30701/3C/lease.json
lib/housing/30701/3D/lease.json
lib/housing/30701/4A/lease.json
lib/housing/30701/4B/lease.json
lib/housing/30701/4C/lease.json
lib/housing/30701/4D/lease.json
lib/housing/30701/5A/lease.json
lib/housing/30701/5B/lease.json
lib/housing/30701/5C/lease.json
lib/housing/30701/5D/lease.json
lib/housing/6401/1A/lease.json
lib/housing/6401/1B/lease.json
lib/housing/6401/1C/lease.json
lib/housing/6401/1D/lease.json
lib/housing/6401/1E/lease.json
lib/housing/6401/1F/lease.json
lib/housing/6401/1G/lease.json
lib/housing/6401/1H/lease.json
lib/housing/6401/1I/lease.json
lib/housing/6401/1J/lease.json
lib/housing/6401/1K/lease.json
lib/housing/6401/1L/lease.json
lib/housing/6401/1M/lease.json
lib/housing/6401/1N/lease.json
lib/housing/6401/1O/lease.json
